/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styles */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*ROSIE'S STYLESSSSS*/


.container {
    width:960px;
    margin:20px auto;
}

.header {
    width: 800px;
    margin:30px auto;
    margin-bottom:60px;
}
.masthead {
    width:800px;
    margin-bottom:10px;
}

.sitenav {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    letter-spacing: .2em;
    margin:30px auto;
}

.sitenav a{
    padding:15px;
    margin-right: 45px;
    margin-left:45px;
    text-decoration: none;
    color: red;
    align-items: flex-start | flex-end | center | baseline | stretch;
    
}

.sitenav a:hover{
    color: blue;
}

.tagline {
    width:300px;
    margin:auto;
}

h1 { /*TAGLINE*/
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    text-align:center;
    line-height: 120%;
    color: blue;
}

h2 { /*TITLE*/
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    color: red;
    
}

h3 { /*AUTHOR*/
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    color: blue;
}

h4 { /*workshop callout*/
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: blue;
}


h5 { /*article title*/
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: red;
}

h5:hover{
    color:blue;
}

h6 { /*article source*/
    font-family: 'Inconsolata', monospace;
    font-size: 10px;
    color: blue;
}

h7 { /*resource title*/
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: blue;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    line-height: 110%;
    padding-bottom: 10px;
    letter-spacing: 110%;
    
}

.storycolumn {
    width:300px;
    margin:10px;
    float:left;
    display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.storytitle {
    padding:20px 20px 0px 20px;
    
}

.storyauthor {
    padding:10px 20px 20px 20px;
}

.story { /*add height 300px for margin bottom, delete for bleed*/
  height:350px;
  width:300px; 
    background: #eaeaea;
    margin:10px;
    float:left;
    
}

.story a{
    text-decoration: none;
}

.story a h2:hover{
    color:black;
}

.story_longform{ /*for individual story pages*/
  height:1800px;
  width:700px; 
    background: #eaeaea;
    margin:auto;
    margin-bottom:200px;
    padding: 30px;
}

.story_longform p{
    font-size: 19px;
    line-height: 1.5;
}

.story_short { /*add height 300px for margin bottom, delete for bleed*/
  height:170px;
  width:300px; 
    background: #eaeaea;
    margin:10px;
    float:left;

}

.storytext{
  height:220px;
   overflow: auto;
    padding: 0px 20px 20px 20px;

}


.storytext_longform{
    padding: 0px 20px 20px 20px;

}


.about { /*add height 300px for margin bottom, delete for bleed*/
  height:550px;
  width:500px; 
    background: #eaeaea;
    margin:10px auto;
    margin-bottom:100px;
}

.abouttitle {
   padding:20px 20px 10px 20px;
}

.abouttext {
    padding: 10px 20px 20px 20px;
}

.submit {
    width: 500px;
    height: 120px;
    margin:10px auto;
    margin-bottom: 100px;
    background: #eaeaea; 
}

.submitheadline{
   padding:20px 20px 10px 20px;
}

.submittext{
    padding: 10px 20px 20px 20px;
}

.form {
    margin:auto;
    width:600px;
}

.workshop_title{
    width:800px;
    background: #eaeaea;
    margin:auto;
    height: 100px;
    padding:32px;
    text-align: center;
}

.intro2workshop{
    width:400px;
    margin:auto;
    padding:32px;
    text-align: center;
}

.workshop_box{
    width:800px;
    background-color: #eaeaea;
    margin:auto;
    height: 500px;
    padding:32px;
}

.workshop_activity_title{
    margin-bottom: 15px;
    margin-top:15px;
}

.resource_title{
    width:800px;
    background: #eaeaea;
    margin:auto;
    height: 100px;
    padding:32px;
    text-align: center;
}

.resource_container{
    width:800px;
    margin:auto;
}

.resource_types {
    padding-top: 20px;
}

.resource_TEDTALKS{
    width:800px;
    height:480px;
}

.TEDL{
    width:380px;
    margin-top: 30px;
    height:200px;
    background: #eaeaea;
    margin-right:20px;
    float:left;
}

.TEDR{
    width:380px;
    margin-top: 30px;
    height:200px;
    background: #eaeaea;
    float:right;
}

.resource_TEDTALKS a{
    text-decoration:none;
}

.resource_TEDTALKS h2:hover{
    color:blue;
}

.img {
    float:left;
}

.TED_desc {
    width:180px;
    height:200px;
    float:left;
    
}
.TED_name{
    padding:20px 20px 10px 20px;
}


.TED_text{
    padding:5px 20px 20px 20px;
}

.resource_articles{
    width:800px;
    height:600px;

}

.article {
    position: relative;
    height:200px;
    width:175px;
    margin-right: 33px;
    background: #eaeaea;
    float:left;
    margin-top:30px;
}

.article:nth-of-type(4n) {
    margin-right: 0;
}



.article_title{
    padding:15px 15px 10px 15px;
}

.article_text{
    padding:15px 15px 10px 15px;
}

.article_source{
    position: absolute;
    bottom: 10px;
    width: 145px;
}

.resource_articles a{
    text-decoration:none;
}



/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
