/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* { 
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


body {
    no body
}

.mainfoot {
    width: 100px;
    margin:85px auto;

}

.container1 {
    width: 600px;
    margin: 10px 20px 25px 100px;
    float:left;
    clear:both;
}

.container2{
    width:500px;
    margin:30px 2px 10px 814px;
}


.hoverman {
	display: block;
	width: 400px;
	height: 330px;
	background: url(../img/hoverman.png) bottom;
	text-indent: -99999px;
}

.hoverman:hover {
	background-position: 0 0;
}

.hoverman2 {
	display: block;
	width: 400px;
	height: 330px;
	background: url(../img/hoverman2.png) bottom;
	text-indent: -99999px;
}

.hoverman2:hover {
	background-position: 0 0;
}

.gallery {
  width: 1000px;
  margin: 50px auto;
}

.gallery div {
  margin: 10px 30px;
  float: left;
  width: 400px;
  height: 330px;
  background: #fff;
}

.sidebar {
    position: fixed;
    bottom: -168px;
    padding: 4px;
    height: 800px;
    width: 50px;
    background-color: #ffe2e2;
}

h1 { 
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 70px; 
    color: #121212;
    text-decoration: underline;
    
}

h1.title{
    font-family: 'inconsolata', monospace;
    font-weight:400;
    font-size: 15px;
    color: #121212;
    letter-spacing: .2em;
    background-color: #ffe2e2;
    text-decoration:none;
    padding-top: 20px;
    padding-left:200px;
    width:3000px;
    height: 50px;
    
}

h2 { 
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 1px;
    font-size: 14px; 
    color: #121212;
    text-decoration: none;
    padding-top: 30px;
    font-style: italic;
    width: 500px;
}

h3 { 
    font-family: 'Arimo', monospace;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 1px;
    font-size: 16px; 
    color: #121212;
    text-decoration: none;
    padding-top: 30px;
    width: 500px;
}

h4 { 
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 1px;
    font-size: 14px; 
    color: #121212;
    text-decoration: none;
    padding-top: 30px;
    padding-left: 21px;
    font-style: none;
    width: 500px;
}


article {
    padding-top: 30px;
    padding-bottom:100px;

}

p { 
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 1px;
    font-size: 12px; 
    color: #121212;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 21px;
    width: 500px;
}

p.example { 
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 1px;
    font-size: 12px; 
    color: #121212;
    text-decoration: none;
    font-style: italic;
    padding-top: 10px;
    padding-left:50px;
    width: 420px;
}

p.latin { 
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 1px;
    font-size: 12px; 
    color: #ffe2e2;
    text-decoration: none;
    padding-top: 10px;
    padding-left:50px;
    width: 500px;
    background-color: #121212;
}
.title{
   margin-bottom: 100px;
position: fixed;
    top:0;
    left:0;
    padding:5px;
    margin-top: 0;
    margin-left:0;
    margin-right:0px;
}

p.copyright {
    width:1000px auto;
    font-family: 'inconsolata', monospace;
    color: #ffe2e2;
    font-size: 12px;
    padding-top:15px;
    padding-left:0px;
    position:fixed;
    bottom:10px;
}

p.foot{
    font-family: 'inconsolata', monospace;
    color: #ffe2e2;
    font-size: 12px;
    border-top: 2px solid #ffe2e2;
    padding-top:15px;
    padding-left:0px;
    
}

gallery {
position: fixed;
z-index: -1;
}

.centered {
    position: fixed;
    left: 50%;
    top:50px;
    bottom:150px;
    transform: translate(-50%, 0);
}



a{
    font-family:'Arimo', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    color: #121212;
    text-decoration: none;
    position:fixed;     
}

a:hover { 
    text-decoration: underline;
}

footer {

}

footer a{
    font-family: 'inconsolata';
    font-size:12px;
    position:relative;
    color: #ffe2e2;
    text-decoration:underline;
    margin-bottom: 100px;
  
    z-index: 1;
}

.homegif{
    position: fixed;
    top: 0px;
    left:0px;
    padding: 4px;
    height: 50px;
    width: 50px;
    background: url(../img/dumbgif.gif);
    z-index:1;
   
}

.sneakylink {
    position:fixed;
    top:0px;
    left:0px;
    height:50px;
    width:50px;
    z-index:2;
    background-color: aquamarine;
  
}
.guidedude {
	display: block;
	width: 400px;
	height: 400px;
	background: url(../img/guidedude.png) bottom;
	text-indent: -99999px;
}
.guidedude:hover {
	background-position: 0 0;
}

.citedude {
	display: block;
	width: 400px;
	height: 350px;
	background: url(../img/citedude.png) bottom;
	text-indent: -99999px;
}
.citedude:hover {
	background-position: 0 0;
}

.deductivedude {
	display: block;
	width: 400px;
	height: 350px;
	background: url(../img/deductivedude.png) bottom;
	text-indent: -99999px;
}
.deductivedude:hover {
	background-position: 0 0;
}

.fallacydude {
	display: block;
	width: 400px;
	height: 300px;
	background: url(../img/fallacydude.png) bottom;
	text-indent: -99999px;
}
.fallacydude:hover {
	background-position: 0 0;
}

.button1{
    padding:15px 65px 10px 0px;
    -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
    z-index: 4;
    
}
.button2{
    padding:15px 212px 10px 3px;
    -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
    z-index: 3;
}
.button3{
    padding:15px 331px 10px 3px;
    -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
    z-index: 2;
}
.button4{
    padding:15px 491px 10px 3px;
    -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
    z-index: 1;
}

Dont say words youre gonna regret
Dont let the fire rush to your head
Ive heard the accusation before
And I aint gonna take any more
Believe me
The sun in your eyes
Made some of the lies worth believing.


.clearfix:before, .clearfix:after {
    content: " "; 
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}